# === [ Direction {{ .Dir }} ] ==========================================================

# --- [ Hover ] ----------------------------------------------------------------

# frame 1-8

mkdir -p wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_1.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_2.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_3.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_4.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_5.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_6.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_7.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_8.png wyvern/wyvern_hover/wyvern_hover_{{ .Dir }}/wyvern_hover_{{ .Dir }}_0008.png

# --- [ Fly ] ------------------------------------------------------------------

# frame 9-16

mkdir -p wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_9.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_10.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_11.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_12.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_13.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_14.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_15.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_16.png wyvern/wyvern_fly/wyvern_fly_{{ .Dir }}/wyvern_fly_{{ .Dir }}_0008.png

# --- [ Sting ] ----------------------------------------------------------------

# frame 17-24

mkdir -p wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_17.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_18.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_19.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_20.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_21.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_22.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_23.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_24.png wyvern/wyvern_sting/wyvern_sting_{{ .Dir }}/wyvern_sting_{{ .Dir }}_0008.png

# --- [ Breathe ] --------------------------------------------------------------

# frame 25-32

mkdir -p wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_25.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_26.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_27.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_28.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_29.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_30.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_31.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_32.png wyvern/wyvern_breathe/wyvern_breathe_{{ .Dir }}/wyvern_breathe_{{ .Dir }}_0008.png

# --- [ Ram ] ------------------------------------------------------------------

# frame 33-40

mkdir -p wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_33.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_34.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_35.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_36.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_37.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_38.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_39.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_40.png wyvern/wyvern_ram/wyvern_ram_{{ .Dir }}/wyvern_ram_{{ .Dir }}_0008.png

# --- [ Hit ] ------------------------------------------------------------------

# frame 41-48

mkdir -p wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_41.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_42.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_43.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_44.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_45.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_46.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_47.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_48.png wyvern/wyvern_hit/wyvern_hit_{{ .Dir }}/wyvern_hit_{{ .Dir }}_0008.png

# --- [ Die ] ------------------------------------------------------------------

# frame 49-56

mkdir -p wyvern/wyvern_die/wyvern_die_{{ .Dir }}/

cp wyvern_tile_{{ .FlareDir }}_49.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0001.png
cp wyvern_tile_{{ .FlareDir }}_50.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0002.png
cp wyvern_tile_{{ .FlareDir }}_51.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0003.png
cp wyvern_tile_{{ .FlareDir }}_52.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0004.png
cp wyvern_tile_{{ .FlareDir }}_53.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0005.png
cp wyvern_tile_{{ .FlareDir }}_54.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0006.png
cp wyvern_tile_{{ .FlareDir }}_55.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0007.png
cp wyvern_tile_{{ .FlareDir }}_56.png wyvern/wyvern_die/wyvern_die_{{ .Dir }}/wyvern_die_{{ .Dir }}_0008.png
